<template>
	<alert :color="`bg-${alert.color}-600`" dismissible :visible="alert.visible" :disableAlert="getVisibleAlert">
		<span class="flex p-2 rounded-lg" :class="`bg-${alert.color}-800`">
            <speakerphone-icon class="h-6 w-6 text-white" aria-hidden="true" />
		</span>
		<p class="ml-3 font-medium text-white truncate">
            <span class="md:inline"> {{alert.message}} </span>
		</p>
	</alert>
	<div class="mx-auto bg-gray-200 p-10">
		<data-table :itens="currentUsers"></data-table>
		<modal :user="userParamId" :open="isOpenModal"></modal>
	</div>
</template>
<script>
import { SpeakerphoneIcon, SearchIcon } from '@heroicons/vue/outline'
import Alert from '../components/Alert.vue'
import DataTable from '../components/DataTable.vue'
import Modal from '../components/Modal.vue'
import { getUsers } from '../services/request'

export default {
	components: {
		Alert,
		DataTable,
		Modal,
		SearchIcon,
		SpeakerphoneIcon,
	},
	data() {
		return {
			alert: {
				color: "red",
				visible: false,
				message: "",
			},
			modal: false,
			user: {},
			test: getUsers()
		}
	},
	computed: {
		currentUsers() {
			return this.$store.state.request.users
		},
		userParamId() {
			if(this.$route.params.id) {
				let user = this.$store.state.request.users.filter(user => user.login.uuid === this.$route.params.id)[0]
				if(user)
				return user
			}
			return null
		},

		isOpenModal() {
			return this.userParamId ? true : false
		}
	},
	created() {
		// if(!this.currentUsers || this.currentUsers.length < 1) {
		// 	this.getUsers()
		// }
	},
	methods: {
		getUsers() {
			this.$store.dispatch('request/requestUsers', {
			}).catch(error => {
				this.alert.color = error.response.status === 400 ? "yellow" : "red"
				this.alert.message = error.response
				this.visibleAlert()
			})
		},

		getVisibleAlert(visible) {
			this.alert.visible = visible
		},

		visibleAlert() {
			this.alert.visible = true
			setTimeout(() => {
				this.alert.visible = false
			}, 5000);
		},
	}
}
</script>

<style>
</style>

