<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <div class="alert rounded-lg z-50" :class="`${color}`" v-show="visible">
    <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between flex-wrap">
        <div class="w-0 flex-1 flex items-center">
         <slot></slot>
        </div>
        <div class="order-2 flex-shrink-0 sm:order-3 sm:ml-3" v-show="dismissible">
          <button type="button" class="-mr-1 flex p-2 rounded-md hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-white sm:-mr-2" @click="disableAlert(false)">
            <span class="sr-only">Dismiss</span>
            <x-icon class="h-6 w-6 text-white" aria-hidden="true" />
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { XIcon } from '@heroicons/vue/outline'

export default {
	components: {
		XIcon,
	},
	props: {
		color: {
			type: String,
			default: 'indigo',
			description: 'Alert type'
		},
		dismissible: {
			type: Boolean,
			default: false
		},
		visible: {
			type: Boolean,
			default: false,
		},
		disableAlert: {
			type: Function
		}

	},
}
</script>
