<template>
	<div class="py-5">
		<div class="max-w-xl mx-auto mb-4">
			<div class="md:flex items-center justify-between">
				<div class="mb-4 md:w-1/2">
					<label for="name" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
					<input type="text" id="name" v-model="form.name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"  placeholder="John Doe">
				</div>
				<div class="mb-4 md:w-1/2">
					<label for="nat" class="block mb-2 text-sm font-medium text-gray-900">Nationality</label>
					<input type="text" id="nat" v-model="form.nat" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="BR, US, BT">
				</div>
			</div>
			<fieldset class="flex items-start mb-4">
				<legend class="sr-only">Gender</legend>

				<div class="flex items-center">
					<input id="gender-option-1" type="radio" name="gender" v-model="form.gender" v-bind:value="''" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300" checked>
					<label for="gender-option-1" class="block ml-2 text-sm font-medium text-gray-900">
					Both
					</label>
				</div>

				<div class="flex items-center ml-4">
					<input id="gender-option-2" type="radio" name="countries" v-model="form.gender" v-bind:value="'male'" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300">
					<label for="gender-option-2" class="block ml-2 text-sm font-medium text-gray-900">
					Male
					</label>
				</div>

				<div class="flex items-center ml-4">
					<input id="gender-option-3" type="radio" name="countries" v-model="form.gender" v-bind:value="'female'" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300">
					<label for="gender-option-3" class="block ml-2 text-sm font-medium text-gray-900">
					Female
					</label>
				</div>

			</fieldset>
			<button class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center mr-8" @click="clear">Clear</button>
			<button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center my-4 md:my-0" @click="handleUsers">Search</button>
		</div>
		<div class='overflow-x-auto w-full'>
			<table class='mx-auto max-w-4xl w-full whitespace-nowrap rounded-lg bg-white divide-y divide-gray-300 overflow-hidden'>
				<thead class="bg-gray-900 text-white flex w-full">
					<tr class="text-white text-left flex w-full">
						<th class="w-2/5">
							<button class="font-semibold text-sm text-left flex items-center justify-between uppercase px-6 py-4 w-full" @click="sortRequest(ascending = !ascending)">
								Name
								<sort-ascending-icon class="text-gray-400 h-6 hover:text-gray-500 pr-4" v-if="ascending"></sort-ascending-icon>
								<sort-descending-icon class="text-gray-400 h-6 hover:text-gray-500 pr-4" v-else></sort-descending-icon>
							</button>
						</th>
						<th class="font-semibold text-sm uppercase px-6 py-4 w-1/5"> Birth </th>
						<th class="font-semibold text-sm uppercase px-6 py-4 text-center w-1/5"> Gender </th>
						<th class="font-semibold text-sm uppercase px-6 py-4 w-1/12"> Nat </th>
						<th class="font-semibold text-sm uppercase px-6 py-4 w-1/12"> Action </th>
					</tr>
				</thead>
				<tbody class="divide-y divide-gray-200 flex flex-col items-center overflow-y-scroll w-full" style="height: 50vh;">
					<tr class="flex w-full" :class="trClasses" v-for="(item, i) in currentItens.slice(0, results)" :key="index + i">
						<td class="px-6 py-4 w-2/5">
							<div class="flex items-center space-x-3">
								<div class="hidden lg:block inline-flex w-10 h-10"> <img class='w-10 h-10 object-cover rounded-full' alt='User avatar' :src='item.picture.thumbnail' /> </div>
								<div>
									<p> {{item.name.title}} {{item.name.first}} {{item.name.last}} </p>
									<p class="text-gray-500 text-sm font-semibold tracking-wide"> {{item.email}} </p>
								</div>
							</div>
						</td>
						<td class="px-6 py-4 w-1/5">
							<p class=""> {{new Date(item.dob.date).toLocaleDateString("pt-BR")}} </p>
							<p class="text-gray-500 text-sm font-semibold tracking-wide">AGE: {{item.dob.age}} </p>
						</td>
						<td class="px-6 py-4 text-center w-1/5">
							<span class="text-white text-sm w-1/3 pb-1 font-semibold px-2 rounded-full" :class="`${item.gender === 'male' ? 'bg-blue-600': 'bg-pink-600'}`"> {{item.gender}} </span>
						</td>
						<td class="px-6 py-4 text-center w-1/12">
							<p class=""> {{item.nat}} </p>
						</td>
						<td class="px-6 py-4 text-center w-1/12">
							<router-link :to="item.login.uuid" class="text-purple-800 hover:underline">
								<eye-icon class="text-black h-8 hover:text-gray-500 pr-4"></eye-icon>
							</router-link>
						</td>
					</tr>
					<tr class="flex w-full" :class="trClasses" v-show="currentItens.length > results && loading">
						<td class="px-6 py-4 w-full text-center flex items-center justify-center">
							<button class="flex items-center justify-center text-gray-400 hover:text-gray-500" @click="loadingMore(5)">
								<refresh-icon class=" h-6 pr-4"></refresh-icon> Loading more...
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>
<script>
import { RefreshIcon, SortAscendingIcon, SortDescendingIcon, EyeIcon } from '@heroicons/vue/outline'
import { computed } from 'vue'
export default {
	name: 'data-table',
	components: {
		RefreshIcon,
		SortDescendingIcon,
		SortAscendingIcon,
		EyeIcon
	},
	props: {
		tableClasses: String,
		trClasses: String,
		itens: Array,
		index: {
			type: String,
			default: ""
		},
	},
	computed: {
		currentItens() {
			return this.users.length > 0 ? this.users : this.itens
		}
	},
	data() {
		return {
			ascending: true,
			results: 5,
			loading: true,
			users: this.itens,
			form: {
				gender: "",
				nat: "",
				name: "",
			},
		}
	},
	methods: {
		sortRequest(sort) {
			if(sort) {
				this.itens.sort((a,b) => a.name.first > b.name.first ? -1 : 1)
			} else {
				this.itens.sort((a,b) => a.name.first > b.name.first ? 1 : -1)
			}
		},
		handleUsers() {
			let filtered = this.$store.state.request.users
			if(this.form.gender !== '')
			filtered = filtered.filter(user => user.gender === this.form.gender)
			if(this.form.name !== '')
			filtered = filtered.filter(user => {
				let name = user.name.first + " " + user.name.last
				return name.toUpperCase().includes(this.form.name.toUpperCase())
			})
			if(this.form.nat !== '')
			filtered = filtered.filter(user => user.nat === this.form.nat.toUpperCase())

			this.users = filtered
			this.loading = filtered.length > this.results
		},
		loadingMore(result) {
			this.results += result
		},
		clear() {
			this.form.gender = ""
			this.form.nat = ""
			this.form.name = ""
			this.handleUsers()
		},
	}
}
</script>
