<template>
	<transition-root as="template" :show="open">
		<Dialog as="div" class="fixed z-10 inset-0 overflow-y-auto" @close="open = false">
			<div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
				<transition-child as="template" enter="ease-out duration-300" enter-from="opacity-0" enter-to="opacity-100" leave="ease-in duration-200" leave-from="opacity-100" leave-to="opacity-0">
					<dialog-overlay class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />
				</transition-child>

				<!-- This element is to trick the browser into centering the modal contents. -->
				<span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
				<transition-child as="template" enter="ease-out duration-300" enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" enter-to="opacity-100 translate-y-0 sm:scale-100" leave="ease-in duration-200" leave-from="opacity-100 translate-y-0 sm:scale-100" leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
					<div class="relative inline-block align-bottom bg-transparent rounded-lg text-left overflow-hidden transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
						<div class="modal-avatar modal-image mx-auto max-h-36 h-36 rounded-full sm:mx-0 ">
							<img class='max-w-min w-full max-h-36 h-36 object-cover rounded-full' alt='User avatar' :src='user.picture.large' />
						</div>
						<div class="modal-avatar shadow-xl bg-white rounded-lg">
							<div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4 flex flex-col items-center justify-center relative">
								<div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
								<dialog-title as="h3" class="text-lg leading-6 font-medium text-gray-900 text-center">
									<p>{{user.name.title}} {{user.name.first}} {{user.name.last}}</p>
									<a href="mailto:gaetano.sachse@example.com" class="text-gray-500 text-sm font-semibold tracking-wide hover:text-black"> {{user.email}} </a>
								</dialog-title>
								<div class="mt-2">
									<table class="w-full text-sm text-left text-gray-500">
										<tr class="hover:bg-gray-100">
											<th scope="col" class="px-6 text-right pb-3">
												Gender
											</th>
											<td scope="row" class="px-6 pb-3">
												{{user.gender}}
											</td>
										</tr>
										<tr class="hover:bg-gray-100">
											<th scope="col" class="px-6 text-right pb-3">
												Birth
											</th>
											<td class="px-6 pb-3">
												{{new Date(user.dob.date).toLocaleDateString("pt-BR")}}
											</td>
										</tr>
										<tr class="hover:bg-gray-100">
											<th scope="col" class="px-6 text-right pb-3">
												Phone
											</th>
											<td class="px-6 pb-3">
												{{user.phone}}
											</td>
										</tr>
										<tr class="hover:bg-gray-100">
											<th scope="col" class="px-6 text-right pb-3">
												Nat
											</th>
											<td class="px-6 pb-3">
												{{user.location.country}}
											</td>
										</tr>
										<tr class="hover:bg-gray-100">
											<th scope="col" class="px-6 text-right pb-3">
												Address
											</th>
											<td class="px-6 pb-3">
												{{user.location.street.name}}, nº{{user.location.street.number}}
											</td>
										</tr>
										<tr class="hover:bg-gray-100">
											<th scope="col" class="px-6 text-right pb-3">
												ID ({{user.id.name}})
											</th>
											<td class="px-6 pb-3">
												{{user.id.value}}
											</td>
										</tr>
										<tr class="hover:bg-gray-100">
											<th scope="col" class="px-6 text-right pb-3">
												UUID
											</th>
											<td class="px-6 pb-3">
												{{user.login.uuid}}
											</td>
										</tr>
									</table>
								</div>
								</div>
							</div>
							<div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
								<router-link to="/" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-400 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:ml-3 sm:w-auto sm:text-sm">Close</router-link>
								<router-link :to="user.login.uuid" target="_blank">
									<share-icon class="text-gray-400 h-6 hover:text-gray-500 pr-4"></share-icon>
								</router-link>
							</div>
						</div>
					</div>
				</transition-child>
			</div>
		</Dialog>
	</transition-root>
</template>

<script>
import { Dialog, DialogOverlay, DialogTitle, TransitionChild, TransitionRoot } from '@headlessui/vue'
import { ExclamationIcon, ShareIcon } from '@heroicons/vue/outline'
export default {
	components: {
		Dialog,
		DialogOverlay,
		DialogTitle,
		TransitionChild,
		TransitionRoot,
		ExclamationIcon,
		ShareIcon,
	},
	props: {
		user: Object,
		open: {
			type: Boolean,
			default: false
		},
	},
}
</script>
